﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/css/variables.css" rel="stylesheet" />
    @await Html.PartialAsync("../always/always_include")
<link href="~/css/black_theme.css" rel="stylesheet" />
</head>
<body class="flex_between">
    @await Html.PartialAsync("../always/headers/main_header")
    @RenderBody()
    @await Html.PartialAsync("../always/headers/main_footer")
    <script src="~/js/main.js"></script>
</body>
</html>