﻿<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("../always/always_include") 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        Ошибка: @ViewBag?.error_code
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        ffff
    </footer>
</body>
</html>