﻿<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="~/images/MS.png" rel="shortcut icon" type="image/x-icon">
<link href="/css/always.css" rel="stylesheet" />
<title>@ViewData["Title"]</title>