﻿@model List<Plan.Models.MPlan>
@{ 
    
    Layout = "_main";
}

<main>
    
    <div>
        fdfdfd sort
    </div>

    <section class="all_plans just_around">

        <div class="add_plan plan makolm_transition flex_around">

            <div class="add_plan_plus">

            </div>

            <p class="add_plan_header">
                Добавить План
            </p>
            <p class="add_plan_description">
                Описание:<br/> Добавляет еще 1 план, который можно редактировать
            </p>

        </div>

        @foreach (var plan in Model)
        {

            <div class="plan makolm_transition flex_around">
                <div class="flex_around">
                    @{
                        int sum = 0, dones = 0;
                        foreach (var task in plan.Tasks)
                        {
                            sum += task.ImportantLevel;
                            if (task.IsDone)
                                dones += task.ImportantLevel;
                        }

                        string str = null;
                        str = (sum == 0) ? 0 + "%" : ((dones * 1.0 / sum) * 100) + "%";
                        @: <span>@str</span>
                    }
                </div>

                <p class="add_plan_header">@plan.PlanName</p>

                <p class="add_plan_description">
                    Описание:<br/> <span>@plan.Description</span>
                </p>
                <section class="for_tasks">
                    @foreach(var task in plan.Tasks)
                    {
                    <div class="task_div">
                        <span class="task_name">@task.TaskName</span>
                        <span class="task_level">@task.ImportantLevel</span>
                        <span class="task_done">@task.IsDone</span>
                    </div>
                    }
                </section>
            </div>

        }

    </section>

</main>