﻿*{
    outline: none;
    padding: 0px;
    margin: 0px;
}

/* ---------------------Standart---------------------- */

@import "fonts.css";

a,
p,
span{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html{
    height: 100%;
}

body {
    min-height: 100%;
}

body > *{
    width: 100%;
}

.just_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.just_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------------------------------- */

header{
    height: 110px;
}

main{
    height: 100%;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
}

.all_plans {
    flex-wrap: wrap;
}

.all_plans.just_around{
    align-items: flex-start;
}

.main_logo{
    height: 50px;
}

.search{
    width: 40%;
}

.search > input {
    flex-grow: 1;
    height: 22px;
    border-radius: 7px 0px 0px 7px;
}

.search > button {
    height: 22px;
    width: 70px;
    border-radius: 0px 7px 7px 0px
}

footer{
    padding: 10px 0px;
}

.right_header_section {
    font-size: 14pt;
    text-decoration: none;
}

#door {
    height: 30px;
    width: 30px;
    margin-left: 3px;
    transform: scale(0.9);
}

.makolm_transition{
    transition: 0.3s linear;
}

.makolm_animation {
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#user_control_section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.authorization_section,
.registration_section {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.registration_section {
    left: 50%;
}

#user_control_section form{
    height: 200px;
    width: 300px;
}

.makolm_input {
    height: 25px;
    border-radius: 7px 7px 7px 7px;
}

.makolm_input,
.search > input {
    padding-left: 7px;
    box-sizing: border-box;
}

#user_control_section form h2 {
    font-size: 22pt;
    margin-bottom: 5px;
}

#user_control_section button {
    height: 30px;
    padding: 5px;
    border-radius: 7px 7px 7px 7px
}

#MS_logo{
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

#MS_logo svg {
    width: 163px;
    height: 89px;
}

#MS_logo use {
    transform: scale(3);
}