﻿@import "variables.css";

header, footer {
    background-color: var(--header_black_color);
}

main{
    background-color: var(--main_black_color);
}

a,
p,
span{
    color: var(--main_white_color);
}

.plan{
    margin: 10px;
    padding: 15px;
    height: 400px;
    width: 300px;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #222222;
}

.right_header_section {
    color: var(--main_white_color);
    fill: var(--main_white_color);
}

.right_header_section:hover {
    color: var(--makolm_teal_color);
    fill: var(--makolm_teal_color);
}

.search input,
.search button {
    background-color: var(--header_black_color);
    border: 2px solid var(--main_black_color);
    color: var(--main_white_color);
}

.search button:hover,
#user_control_section button:hover{
    background-color: var(--search_black_color);
    cursor: pointer;
}

.authorization_section,
.registration_section {
    background-color: var(--makolm_opacity_black);
}

.authorization_section {
    border-right: 2px solid var(--makolm_teal_color);
}

.registration_section {
    border-left: 2px solid var(--makolm_teal_color);
}

.registration_section {
    left: 50%;
}

#cross{
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 30pt;
}

#cross:hover{
    cursor: pointer;
    color: var(--makolm_teal_color);
}

#user_control_section form h2 {
    color: var(--makolm_teal_color);
}

.makolm_input,
.search input,
.search button,
#user_control_section button{
    background-color: var(--header_black_color);
    border: 2px solid var(--main_black_color);
    color: var(--main_white_color);
}

.search input:focus,
.search input:focus ~ button,
.makolm_input:focus,
.search button:hover,
#user_control_section  button{
    border: 2px solid var(--search_black_color);
}

#MS_logo {
    border: 2px solid var(--makolm_teal_color);
    fill: var(--makolm_teal_color);
}

.before_door_animation_left {
    animation-name: from-left-to-mid;
}

.before_door_animation_right {
    animation-name: from-right-to-mid;
}

.after_door_animation_left {
    animation-name: from-mid-to-left;
}

.after_door_animation_right {
    animation-name: from-mid-to-right;
}

.to_show_animation{
    animation-name: to-show;
}

.to_hide_animation{
    animation-name: to-hide;
}

.MS_logo_animation{
    animation-name: MS_logo-animation;
    animation-fill-mode: none;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.plan:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.add_plan {
    background-color: transparent;
    border: 4px solid var(--makolm_teal_color);
    filter: brightness(90%);
}

.add_plan_plus {
    position: relative;
}

.add_plan_header {
    color: var(--makolm_teal_color);
    font-size: 24pt;
}

.add_plan > p{
    text-align: center;
}

.add_plan_description {
    font-size: 13pt;
    color: var(--main_white_color);
}

.add_plan_plus::before,
.add_plan_plus::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background-color: var(--makolm_teal_color);
}

.add_plan_plus::after{
    height: 50%;
    width: 5px;
}

@keyframes from-left-to-mid {
    0% {
        transform: translate(-100%);
    }

    99% {
        border-right: 2px solid var(--makolm_teal_color);
    }

    100% {
        transform: translate(0%);
        border-right: 0px solid var(--makolm_teal_color);
    }
}

@keyframes from-right-to-mid {
    0% {
        transform: translate(100%);
    }

    99% {
        border-left: 2px solid var(--makolm_teal_color);
    }

    100% {
        transform: translate(0%);
        border-left: 0px solid var(--makolm_teal_color);
    }
}

@keyframes from-mid-to-left {
    0% {
        transform: translate(0%);
    }

    1% {
        border-right: 2px solid var(--makolm_teal_color);
    }

    100% {
        transform: translate(-100%);
        border-right: 2px solid var(--makolm_teal_color);
    }
}

@keyframes from-mid-to-right {
    0% {
        transform: translate(0%);
    }

    1% {
        border-right: 2px solid var(--makolm_teal_color);
    }

    100% {
        transform: translate(100%);
        border-right: 2px solid var(--makolm_teal_color);
    }
}

@keyframes to-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes to-hide{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes MS_logo-animation{

    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(-90deg);
    }
}

/*------------------------------------------------------------*/

#eclipse{
    position: fixed;
    display: none;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--makolm_opacity_black);
}

#add_plan_form {
    padding: 25px;
    box-sizing: border-box;
    height: 70%;
    width: 80%;
    border: 3px solid var(--search_black_color);
    border-radius: 12px;
}

#create_plan_button,
#edit_plan_button {
    cursor: pointer;
    width: 130px;
    height: 35px;
    font-size: 13pt;
    background-color: var(--main_black_color);
    border: 2px solid var(--main_white_color);
    border-radius: 7px;
}

#add_task:hover,
#create_plan_button:hover,
#edit_plan_button:hover{
    border: 2px solid var(--search_black_color);
    background-color: var(--search_black_color);
}

.inputs_control{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.inputs_control > input,
.inputs_control > button{
    display: block;
    margin: 0px auto 30px auto;
}

.task {
    margin: 0px auto 30px auto;
}

.inputs_control > .makolm_input,
.inputs_control > .task{
    width: 90%;
}

.task{
    justify-content: space-around;
    height: 25px;
}

.task > input[name='task']{
    width: 50%;
}

.delete_task{
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 1px solid red;
    border-radius: 50%;
}

.delete_task:hover{
    border-color: var(--makolm_teal_color);
}

.delete_task::after
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 50%;
    background-color: red;
}

#add_task {
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 32pt;
    background-color: var(--main_black_color);
    border: 2px solid var(--main_white_color);
}

#add_task:hover{
    color: var(--search_black_color);
}

#eclipse button {
    filter: brightness(80%);
}

.cross_eclipse{
    position: absolute;
    cursor: pointer;
    font-weight: bold;

    top: 15px;
    right: 35px;

    font-size: 35pt;
}

.cross_eclipse:hover{
    color: var(--makolm_teal_color);
}

.plan{
    border: 3px solid var(--makolm_teal_color);
}

.plan > div{
    height: 150px;
    width: 150px;
    border: 4px solid var(--makolm_teal_color);
    border-radius: 50%;
}

.plan p{
    text-align: center;
}

.plan > div > span{
    color: var(--makolm_teal_color);
    font-size: 34pt;
}

.for_tasks{
    display: none;
}