﻿:root {
    --header_black_color: #222222;
    --main_black_color: #454545;
    --search_black_color: #005c80;
    --main_white_color: #cecece;
    --makolm_teal_color: #0088bd;
    --makolm_opacity_black: rgba(17, 17, 17, 0.85);
}
