﻿<header class="just_around">
    <img src="/images/MSupport_logo.svg" alt="MSupport logo" class="main_logo" />    
    <div class="search just_between">
        <input type="search" placeholder="Найти план" name="name" value="" class="makolm_transition"/>
        <button type="button" class="makolm_transition">
            Поиск
        </button>
    </div>
    <a href="#" class="just_around right_header_section makolm_transition">
        @*@if (ViewBag.Name != null)
        {
            <div>aaa</div>
        }
        else
        {   
            @: Войти
            <svg id="door"> <use xlink:href="/images/door.svg#door" /> </svg>
        }*@
        В разработке
    </a>
</header>