﻿<footer class="just_around">
    <p> Copyright <b>©MakolmSheduler.com</b>, 2021-@DateTime.Now.Year. Все права защищены. </p>
</footer>

@*<section id="user_control_section">

    <section class="authorization_section flex_around makolm_animation">
        <form action="/" method="post" class="flex_around">
            <h2>Авторизация</h2>
            <input type="text" name="name" value="" maxlength="25" class="makolm_input makolm_transition" placeholder="Логин" />
            <input type="password" name="password" value="" maxlength="255" class="makolm_input makolm_transition" placeholder="Пароль" />
            <span id="error_control">
                f
            </span>
            <button type="submit" name="aut" class="makolm_transition">
                Авторизироваться
            </button>
        </form>
    </section>

    <section class="registration_section flex_around makolm_animation">
        <form action="/Home/Registration" method="post" class="flex_around">
            <h2>Регистрация</h2>
            <input type="text" name="name" value="" maxlength="25" class="makolm_input makolm_transition" placeholder="Логин"/>
            <input type="password" name="password" value="" maxlength="255" class="makolm_input makolm_transition" placeholder="Пароль"/>
            <span id="error_control">
                
            </span>
            <button id="register_submit" type="submit" name="reg" class="makolm_transition">
                Зарегестрироваться
            </button>
        </form>
    </section>

    <div id="MS_logo" class="flex_around makolm_animation">

        <svg>
            <use xlink:href="/images/MS.svg#MS_logo" />
        </svg>

    </div>
    <span id="cross" class="makolm_transition">
        &#10006;
    </span>

</section>*@
<section id="eclipse" class="flex_around makolm_animation">
    <form id="add_plan_form" class="flex_between" action="/addPlan" method="post">
        <div class="inputs_control">
            <input placeholder="Название плана" class="makolm_input makolm_transition" type="text" name="PlanName" value="" maxlength="255" />
            <input placeholder="Описание плана" class="makolm_input makolm_transition" type="text" name="Description" value="" maxlength="2500" />
            <button type="button" class="makolm_transition" id="add_task">
                <span>+</span>
            </button>
        </div>
        <button type="submit" id="create_plan_button" class="makolm_transition">
            <span>Сохранить</span>
        </button>
    </form>
    <span class="cross_eclipse makolm_transition">
        X
    </span>
</section>